.pt-3 {
	padding-top: 3rem !important;
}
.pb-3 {
	padding-bottom: 3rem !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.mb-3 {
	margin-bottom: 1rem !important;
}
.mr-5px {
	margin-right: 5px !important;
}
.d-flex {
	display: flex !important;
}
.align-items-center {
    align-items: center !important;
}
.flex-grow-1 {
    flex-grow: 1 !important;
}
/************************************FOR LOGIN PAGE*************************************/
.login-card {
	padding: 30px 0;
	border-radius: 20px;
}
.login-card h2 {
	color: #232323;
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
}
/************************************FOR LOGIN PAGE*************************************/
/*****************************FOR INSPECTOR DASHBOARD PAGE******************************/
.profile-card {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background: white;
}
.profile-banner {
  height: 200px;
  background-size: cover;
  background-position: center;
}
.profile-info {
  position: relative;
  padding: 50px 50px 20px 50px;
}
.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: -40px;
  background: white;
}
.profile-name {
  margin: 10px 0 5px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
.profile-description {
  margin: 0;
  font-size: 15px;
  color: #666;
}
.category-grid-box-1 {
	border-radius: 20px;
}
.category-grid-box-1 .price-tag {
    top: 15px;
    position: absolute;
    left: 9px;
}
.category-grid-box-1 .price-tag .price span {
	background-color: #FFF !important;
    color: #000 !important;
    border-radius: 5px;
}
/*****************************FOR INSPECTOR DASHBOARD PAGE******************************/
/*******************************FOR LOCATION DETAILS PAGE********************************/
.location-header img {
	width: 84px;
    height: 84px;
	border-radius: 12px;
	object-fit: cover;
	margin-right: 12px;
}
.location-header .title {
	font-size: 28px;
	color: #000000;
	font-weight: 600;
}
.location-details .nav-tabs li a {
    color: #777 !important;
    font-size: 17px;
    font-weight: 700;
}
.location-details .nav-tabs> li.active> a, .location-details .nav-tabs> li> a:hover {
	color: #000000 !important;
    border: none !important;
    background: transparent;
}
.location-details .task img {
	width: 100%;
	height: 140px;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 8px;
}
.location-details .date-box {
	width: 60px;
	text-align: center;
	margin-right: 12px;
}
.location-details .date-box .date {
	background-color: #eee;
	border-radius: 8px;
	padding: 3px;
	font-weight: bold;
}
.location-details .date-box .day {
	background-color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 3px 5px 0 5px;
    font-weight: bold;
    font-size: 15px;
}
.location-details .date-box .dow {
	font-size: 18px;
    color: #000;
    padding-top: 5px;
}
.location-details .date-box .dod {
	font-size: 18px;
    color: #888;
}
.location-details .tab-content h6 {
	font-size: 15px;
	font-weight: 700;
}
.location-details .tab-content .flex-grow-1 p {
	font-size: 13px;
}
/*******************************FOR LOCATION DETAILS PAGE********************************/
